:root{
    --background-dark: #333;
    --text-dark: rgba(0,0,0,0.5);
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}
.main-section{
    padding: var(--spacing-xxl) var(--spacing-l);
}
#slide{
    height:500px;
    width:1500px;
    margin:0 auto;
    position:relative;
}
#slide>img{
    position: absolute;
    top:0;
    left:0;
}
.card_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}
.card{
    list-style: none;
    position: relative;
}
.card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
.card_background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear,transform 200ms linear;
}
.card:hover .card_background{
    transform: scale(1.05) translateZ(0);
}
.card_grid:hover > .card:not(:hover) .card_background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card_content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}
.card_head{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}
.card_p{
color: var(--text-light);
font-size: 0.9rem;
margin-bottom: var(--spacing-s);
text-transform: uppercase;
}
